.Items {
  display: grid;
  padding: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  justify-items: center;
}

@media (max-width: 768px) {
  .Items {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (max-width: 1400px) {
  .Items {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
