.Card {
  display: grid;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 3px;
  max-width: 300px;
  max-height: 300px;
  padding: 30px;
  /* margin: 100px; */
}

.OnSale {
  background-color: rgb(204, 5, 5);
  color: white;
  max-width: 50px;
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.7rem;
}

img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}

Button {
  /* align-items: center;
  justify-content: center; */
  border-radius: 3px;
}

@media (max-width: 768px) {
  .Card {
    margin: 20px;
  }
}
