.navbar {
  display: flex;
  flex-direction: row;
  background-color: #17575f;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color: white;
}

.navlinks {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

li a {
  color: white;
  text-decoration: none;
  margin: 0px 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

.selected {
  color: orange;
  text-decoration: underline;
}

.userIcon {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar {
    min-height: 1vh;
  }
  h1 {
    font-size: 0.9rem;
  }

  li a {
    display: none;
  }

  .userIcon {
    display: inline;
    font-size: 1.2rem;
  }
  Button {
    display: none;
  }
 }

 .sideMenu {
   background-color: rgb(49, 49, 49)
 }